.Header {
	display: flex;
	padding-bottom:8px;
	margin-bottom:4px;
	border-bottom: solid 1px #ccc;
	background-color: #efefef;
}
body {
	display:flex;
	justify-content: space-around;
}
.gruk {
	width:70%;
}
.Info > div {
	height:50%;
	width:100%;
	padding-top: 5px;
}
.Info {
	width: 100%;
}
h1 {
	margin: 0px 2px;
}
.NBar {
	display:flex;
	justify-content: space-around;
}
.NBar > a {
	width:100%;
	text-align: center;
	border-right: solid 1px #ccc;
	margin-bottom: 2px;
	line-height: 3.4em;
	background-image: linear-gradient(#efefef,#EEEEEF,#E9EBEF, #E3E8EF, #6A6D71);
}